@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --app-font: var(--font-main);
  --app-font-mono: var(--font-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--app-font);
  --font-mono: var(--app-font-mono);
}

html {
  height: 100%;
  font-family: var(--app-font), "Noto Sans Thai", "Segoe UI", sans-serif;
}

body {
  min-height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--app-font), "Noto Sans Thai", "Segoe UI", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

code,
pre,
kbd,
samp {
  font-family: var(--app-font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}